<div class="sec">
  <div class="footer clearfix">

    <div class=" mt-5 address">
      <h4>Address: C-204A, Ghatkopar Industrial
        Estate, behind R city Mall, Amrut Nagar, Ghatkopar (W), Mumbai
        400086</h4>

      <h4>
        Email: vivekiyer98@gmail.com
        Phone: 9930838982
      </h4>

      <h4>
        Email: karthikmudaliar13@gmail.com
        Phone: 8097506582</h4>
    </div>
    <!-- <a class="pl-2" href="https://www.linkedin.com/in/karthik-mudaliar-9b8512b0/"><img src="/images/home/git.svg"
          alt=""></a>
      <a class="pl-2" href="https://m.facebook.com/karthik.mudaliar.37"><img src="/images/home/inst.png" alt=""></a> -->
    <div class="ifra">
      <iframe class="float-right "
        src="https://www.google.com/maps/embed?pb=!1m16!1m12!1m3!1d1885.079291086195!2d72.9134558576051!3d19.100697756637704!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!2m1!1s%20C-204%20A%2C%20Ghatkopar%20Industrial%20Estate%2C%20behind%20R%20city%20Mall%2C%20Amrut%20Nagar%2C%20Ghatkopar%20(W)%2C%20Mumbai%20400086!5e0!3m2!1sen!2sin!4v1584520379992!5m2!1sen!2sin"
        frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false" tabindex="0"></iframe>
    </div>

    <div class="credits text-center">
      <h4>Developed By Thirumalainambi and Logo Designed By Karthik Ramani</h4>
    </div>

    <!-- Button trigger modal -->
    <!-- Button trigger modal -->

  </div>
</div>