<script src="https://code.jquery.com/jquery-3.4.1.min.js"
  integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>
<script src="/bootstrap/js/bootstrap.min.js"></script>
<script>
  function nav() {
    let nav = document.getElementById('navi');
    let navItem = document.querySelectorAll('.nav-item')
    let arr = nav.value.split(',');
    console.log(arr[1]);
    for (i = 0; i < 5; i++) {
      if (arr[i] === "true") {
        console.log(navItem[i]);
        navItem[i].classList.add('active');
      } else if (arr[i] === "false") {
        navItem[i].classList.remove('active');
      }
    }
  }
</script>
</body>

</html>