<%- include('./partials/header') -%>


</head>

<body onload="nav()">

  <%- include('./partials/navbar') -%>

  <main>
    <div class="container-fluid mt-5 ml-5 p-3" id="content">
      <div class="row">
        <div class="col-sm">
          <div class="container w-75 pt-5 ">
            <h3 class="font-weight-light"><span class="font-weight-bold">Introduction In</span> Nutshell
            </h3>
            <p class="font-weight-light"><span class="font-weight-bold">ALLOGSEC</span> is a joint venture and a
              paramount
              idea by two aspiring software
              engineers. The firm
              cardinally
              aims to
              provide technical solutions to various <span class="font-weight-bold">small scale as well as large scale
                businesses</span>. We encourage
              engrossing
              ideas and creativity in the form of challenging problem statements that we acquire from our beloved
              customers. We
              believe, this proves as the key mantra for our success and a roadway for us to reach huge heights.
              <span class="font-weight-bold">Customer
                satisfaction, optimum development, delivery on deadline</span> and <span
                class="font-weight-bold">innovative strategies</span> are our key
              factors which
              keeps
              us alive in the race. </p>
          </div>
        </div>
        <div class="col-sm">
          <div class="svg">
            <img src="/images/SVGImage.svg" alt="" height="400">
          </div>
        </div>

      </div>

      <div class="row">
        <div class="col-sm">
          <div class="container  w-75">
            <h3>What<span class="font-weight-bold"> we deal with ?</span>
            </h3>
            <p>We never stick to a <span class="font-weight-bold">limited tech stack</span>. We encourage <span
                class="font-weight-bold">new challenging problem statements</span><br>
              from
              our
              existing
              and
              to-be clients. Still to summarize the platforms we firm with,
              <ol class='container pl-5'>
                <li>Web Development</li>
                <li>Mobile App Development (Cross Platform)</li>
                <li>Desktop Applications</li>
                <li>Data Analytics</li>
                <li>Machine Learning</li>
                <li>AI</li>
                <li>Industrial solutions</li>
              </ol>





            </p>
          </div>
        </div>


      </div>
    </div>

  </main>
  <input type="hidden" id="navi" value='<%= nav %>'>

  <img src="/images/Bottomleft.svg" id="bottomleft" width="300" alt="">
  <img id="bottomright" src="/images/Bottomright.svg" width="150" alt="">


  <%- include('./partials/footer') -%>